/* Universal Settings */

	body {
	    font-family: 'Open Sans Condensed', sans-serif;
	    background-color: #638DA5;
	}

	.blur {
		-webkit-filter: blur(1.5px);
		-moz-filter: blur(1.5px);
		-o-filter: blur(1.5px);
		-ms-filter: blur(1.5px);
		filter: blur(1.5px);
	}

	/* Navbar */

	.navbar {
		background-color: #EFEFEF;
	}

	.navbar > .container > #navbar > ul {
		text-align: center;
	}


/* Home Page */

	/* Header Text */

	.welcomeHeader {
		background-color: #7A6F64;
		color: #EFEFEF;
		font-size: 5vw;
		text-align: center;
		padding: 1%;
		position: relative;
	}

	/* Pet Owner Content */

		.petOwnerBodyHome {
			border: .2vw solid #638DA5;
		}

		.petOwnerBodyBackground {
			background-image: url('/img/dog-with-person.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

	/* Vet Clinic Content */

		.vetClinicBodyHome{
			border: .2vw solid #638DA5;
		}

		.vetClinicBodyBackground {
			background-image: url('/img/cat-with-vet.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

	.introductionContentHeader {
		background-color: #7A6F64;
		opacity: .9;
		margin-top: 10%;
		margin-bottom: 10%;
	}

	.introductionHeaderHome {
		font-size: 4vw;
		text-align: center;
		color: #EFEFEF;
	}

	.introductionList {
		color: #EFEFEF;
		font-size: 2vw;
		padding-bottom: 4%;
	}

	/* Login/Register Button */

		.loginRegisterButtonBody {
			text-align: center;
			margin-bottom: 3%;
		}

		.loginRegisterButton {
			font-size: 1.5vw;
			background-color: #638DA5;
			color: #EFEFEF;
			padding-top: 1vw;
			padding-bottom: 1vw;
			padding-left: 2vw;
			padding-right: 2vw;
			border: 1px solid #EFEFEF;
		}

		.loginRegisterButton:hover {
			background-color: #577C91;
			color: #EFEFEF;
		}

		.loginRegisterButton:focus {
			background-color: #7A6F64;
			color: #EFEFEF;
			outline: none;
		}

		.loginRegisterButton:active {
			outline: none !important;
			color: #EFEFEF !important;
			background-color: #7A6F64 !important;
		}

	/* Forms */

	.formBackground {
		background-color: #383836;
		border-radius: 1%;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		opacity: .95;
	}

	.closeButton {
		text-align: right;
		color: #EFEFEF;
		padding: 5%;
		font-size: 2vw;
		font-weight: bold;
	}

	.fa-window-close:hover {
		color: #CECECE;
	}

	.formInput {
		width: 100%;
		height: 2.5vw;
		font-size: 1.5vw;
		text-align: center;
		margin-bottom: 2vw;
		background-color: #383836;
		outline: none;
		border: 0px;
		border-bottom: .1vw solid #EFEFEF;
		color: #EFEFEF;
	}

	.formInput:focus {
		border-bottom: .1vw solid #AFAFAF;
	}

	.formLabel {
		color: #EFEFEF;
		font-size: 2vw;
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color: #CECECE;
	}

	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: #CECECE;
	   opacity:  1;
	}

	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: #CECECE;
	   opacity:  1;
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: #CECECE;
	}

/* Owner Account Page */

	.addPetButton {
		margin-top: 5%;
		margin-bottom: 5%;
		width: 100%;
		height: 5vw;
		background-color: #7A6F64;
		border: 1px solid #EFEFEF;
		color: #EFEFEF;
		font-size: 3vw;
	}

	.addPetButton:hover {
		background-color: #635A51;
		color: #EFEFEF;
	}

	.addPetButton:active {
		background-color: #638DA5 !important;
		outline: none !important;
		border: 1px solid #EFEFEF !important;
		color: #EFEFEF !important; 
	}

	.addPetButton:focus {
		color: #EFEFEF;
		outline: none;
		background-color: #638DA5;
		border: 1px solid #EFEFEF;
	}

	.formRadioInput {
		color: #EFEFEF;
		font-size: 1.4vw;
		padding: 4%;
	}

	.radioForm {
		text-align: center;
		margin-top: 1%;
		margin-bottom: 3%;
		border: 1px solid #EFEFEF;
	}

	.imageUpload {
		text-align: center;
		margin-bottom: 5%;
	}

	.addPetImageButton {
		background-color: #7A6F64;
	}
























